@{
    ViewBag.Title = "Home Page";
}

<section class="row">
    <article class="post col-md-6">
        <h2 class="post">Getting started</h2>
        <div class="post">
            Публикувано от <i>Michael Jordan</i> на <i>12-12-12</i>
        </div>
        <div>
            Тяло на публикация
            <p>
                явеявеяве явеявеяве
            </p>
        </div>
    </article>

    <article class="post col-md-6">
        <h2 class="post">Getting started</h2>
        <div class="post">
            Публикувано от <i>Michael Jordan</i> на <i>12-12-12</i>
        </div>
        <div>
            Тяло на публикация
            <p>
                явеявеяве явеявеяве
            </p>
        </div>
    </article>

    <article class="post col-md-6">
        <h2 class="post">Getting started</h2>
        <div class="post">
            Публикувано от <i>Michael Jordan</i> на <i>12-12-12</i>
        </div>
        <div>
            Тяло на публикация
            <p>
                явеявеяве явеявеяве
            </p>
        </div>
    </article>
</section>